:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828ee;

  --green: #0a9361;
  --green-dark: #005311;

  --text-color: var(--black-mute);
  --bkgr-color: var(--white-mute);

  --color-background: var(--white);
  --color-text: var(--black);

  --color-background-dark: var(--black-mute);
  --color-text-dark: var(--white-mute);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-text: var(--white-mute);
  }

  body.light-theme {
    --color-background: var(--white);
    --color-background-soft: var(--white-soft);
    --color-background-mute: var(--white-mute);

    --color-text: var(--black-mute);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-rendering: optimizeLegibility;
  transition: color 0.5s, background-color 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  body.dark-theme {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
  }
    body.dark-theme a {
      background: #282828;
      color: #9bc9d7;
    }
    body.dark-theme footer.site-footer p {
      color: #f3f3f3;
    }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

button#theme-toggler {
  background-color: var(--color-background);
  bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  height: 40px;
  margin-bottom: 0;
  opacity: 0.9;
  padding: 0 10px;
  position: fixed;
  right: 5px;
  text-align: center;
  width: 40px;
  z-index: 10000;
}
  button#theme-toggler span.theme-image::after {
    display: none;
  }

@media (min-width: 550px) {
  button#theme-toggler {
    width: 95px;
  }
    button#theme-toggler span.theme-image::after {
      display: inline;
    }

  body.dark-theme button#theme-toggler span.theme-image::after {
    content: " dark"
  }
  body.light-theme button#theme-toggler span.theme-image::after {
    content: " light"
  }
}

body.dark-theme select {
  background-color: var(--color-background);
  color: var(--color-text);
}
body.dark-theme button#theme-toggler {
  color: var(--color-text);
}

a.icon,
button.icon {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  padding: 2px 4px;
}
  button.icon:hover {
    color: #fffca3;
  }

input[type=number],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgba(84, 84, 84, 0.65);
  border-radius: 0.1rem;
  background-color: white;
  border-radius: 0.25em;
  margin: 0;
  outline: none;
}

input[type=number] {
  display: block;
  padding: 0.5em 0.2rem 0.5em 0.4rem;
  width: 72px;
}

select {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2FyZXQtZG93bi1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Ik03LjI0NyAxMS4xNCAyLjQ1MSA1LjY1OEMxLjg4NSA1LjAxMyAyLjM0NSA0IDMuMjA0IDRoOS41OTJhMSAxIDAgMCAxIC43NTMgMS42NTlsLTQuNzk2IDUuNDhhMSAxIDAgMCAxLTEuNTA2IDB6Ij48L3BhdGg+PC9zdmc+") white no-repeat center right;
  color: black;
  cursor: pointer;
  min-width: 80px;
  padding: 0.5em 1rem 0.5em 0.4rem;
}

select::after {
  content: '';
  height: 0.5em;
  justify-self: end;
  width: 0.8em;
}

#app {
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}

#controls-container {
  align-items: normal;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0 10px 0 15px;
}
  #controls-container .control-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;
    text-align: center;
    border: 1px solid rgb(64, 64, 64);
    border-radius: 0.5rem;
  }
    #controls-container .control-column.dropdown-control {
      padding-bottom: 8px;
    }
    #controls-container .control-column legend {
      text-align: center;
      margin: 0 auto;
      white-space: nowrap;
    }
    #controls-container .control-column input[type=checkbox] {
      margin: 0 4px;
    }
    #controls-container .control-column input[type=number] {
      margin: 0 auto;
    }
    #controls-container .control-column input[type=range] {
      display: block;
      margin: 8px auto;
    }

@media (min-width: 1024px) {
  #controls-container {
    display: flex;
    height: 200px;
  }
    #controls-container .control-column {
      margin-left: 0;
      margin-right: 8px;
    }
}

.success {
  color: hsla(160, 100%, 37%, 1);
}
.failure {
  color: rgb(189, 0, 0);
}

/* animation */
@keyFrames SlideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyFrames SlideLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
